.imageboxdiv{
    background-color: rgb(21, 1, 70);
    height: max-content;
    padding: 2rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: solid 0.3rem rgb(0, 32, 78);
    border-radius: 0.5rem;
    
}

.imageboxdiv:hover{
    background-color: black;
}

.laptop{
    color: rgb(255, 150, 4);
}
.react{
    color: rgb(19, 219, 249);
}
.html{
    color: rgb(248, 127, 127);
}
.css{
    color: rgb(98, 98, 249);
}
.js{
    color: rgb(248, 248, 133);
}
.cpp{
    color: rgb(0, 106, 255);
}
.node{
    color: greenyellow;
}
.error{
    color: red;
}