.rulebox{
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    color: rgb(5, 137, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 0 0;
    top:0;
    font-family: 'Iceland', cursive;
    font-size: 1.7rem;
    overflow-y: scroll;


    
}
.howtotititle{
    text-align: center;
    font-size: 5rem;
}

.backbutton{
    margin: 1rem 0 5rem 45%;
    font-size: 3rem;
    color: rgb(77, 2, 121);
     
}

.plusonepoint{
    color: greenyellow;
}
.minusonepoint{
    color: rgb(239, 59, 59)
    
}
.zeropoint{
    color: grey;
}

/* ................................................................................. */
/* ................................................................................. */
/* ................................................................................. */
/* ................................................................................. */
/* ................................................................................. */
/* ................................................................................. */

@media only screen and (max-width: 600px) {
    .rulebox{
        padding: 3rem 2rem 0 2rem;
        text-align: justify;
        font-size: 1.5rem;
    }
    .howtotititle{
        font-size: 3rem;
    }
    
    .backbutton{
        margin: 1rem 0 4rem 43%;
         
    }
}