.mainboxdiv{
    background-color: rgb(17, 4, 62);
    height: 30rem;
    width: 50%;
    display: flex;
    margin: 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: solid 1rem;
    border-radius: 2rem;
    padding: 1rem;
}