.headerdiv {
  height: max-content;
  width: 100%;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  color: magenta;
  padding: 2rem 4rem 0 5rem;
}
.gamelogo {
  height: 4rem;
}

.infobutton {
  color: rgb(224, 30, 137);
  font-size: 1.3rem;
}

/* ................................................................................. */
/* ................................................................................. */
/* ................................................................................. */
/* ................................................................................. */
/* ................................................................................. */
/* ................................................................................. */

@media only screen and (max-width: 600px) {
  .headerdiv {
    padding: 1.5rem 5rem 0 3rem;
  }
  .infobutton {
    margin: 1.5rem 0 0 0;
  }
}
